In [16]:
import pandas as pd
from pathlib import Path

# 設定資料夾路徑
folder_path = Path(r'C:\Users\User\Documents\GitHub\ETF_sniper\data\00981A')

# 取得目錄下所有 parquet 檔案
files = folder_path.glob('*.parquet')

df_list = []

for file in files:
    # 讀取 parquet 檔案
    temp_df = pd.read_parquet(file)
    
    # 取得檔名 (不含副檔名)，例如 '20251219'
    date_str = file.stem
    
    # 新增日期欄位，並將其轉換為 datetime 格式 (選擇性)
    temp_df['Date'] = pd.to_datetime(date_str)
    
    df_list.append(temp_df)

# 合併所有 DataFrame
if df_list:
    final_df = pd.concat(df_list, ignore_index=True)
    print(final_df.head())
else:
    print("找不到任何 Parquet 檔案。")

   股票代號 股票名稱       股數    持股權重       Date
0  2330  台積電  3062000  0.0941 2025-12-18
1  6669   緯穎   683000  0.0613 2025-12-18
2  2383  台光電  1878000  0.0606 2025-12-18
3  2345   智邦  2357000  0.0598 2025-12-18
4  3017   奇鋐  1975000  0.0577 2025-12-18

In [17]:
final_df['股票代號'].unique()

array(['2330', '6669', '2383', '2345', '3017', '2368', '3665', '2308',
       '6223', '3653', '6274', '2454', '2317', '6805', '8210', '6139',
       '3661', '2449', '5274', '2059', '8299', '2404', '3231', '8358',
       '3715', '5536', '2313', '3711', '6191', '3533', '5347', '3515',
       '4958', '2354', '3211', '1319', '6515', '3081', '3217', '3044',
       '6510', '1303', '2327', '2357', '2439', '2884', '3008', '3045',
       '3583', '8996'], dtype=object)

In [18]:
for i in list(final_df['股票代號'].unique()):
    display(final_df[final_df['股票代號'] == i])

     股票代號 股票名稱       股數    持股權重       Date
0    2330  台積電  3062000  0.0941 2025-12-18
50   2330  台積電  3086000  0.0928 2025-12-19
100  2330  台積電  3146000  0.0954 2025-12-22
150  2330  台積電  3146000  0.0963 2025-12-23
200  2330  台積電  3146000  0.0966 2025-12-24

     股票代號 股票名稱      股數    持股權重       Date
1    6669   緯穎  683000  0.0613 2025-12-18
53   6669   緯穎  683000  0.0616 2025-12-19
103  6669   緯穎  683000  0.0601 2025-12-22
153  6669   緯穎  683000  0.0597 2025-12-23
203  6669   緯穎  683000  0.0595 2025-12-24

     股票代號 股票名稱       股數    持股權重       Date
2    2383  台光電  1878000  0.0606 2025-12-18
52   2383  台光電  1948000  0.0635 2025-12-19
102  2383  台光電  1948000  0.0645 2025-12-22
152  2383  台光電  1998000  0.0663 2025-12-23
201  2383  台光電  2037000  0.0707 2025-12-24

     股票代號 股票名稱       股數    持股權重       Date
3    2345   智邦  2357000  0.0598 2025-12-18
54   2345   智邦  2357000  0.0583 2025-12-19
104  2345   智邦  2357000  0.0571 2025-12-22
154  2345   智邦  2357000  0.0574 2025-12-23
205  2345   智邦  2357000  0.0576 2025-12-24

     股票代號 股票名稱       股數    持股權重       Date
4    3017   奇鋐  1975000  0.0577 2025-12-18
51   3017   奇鋐  2083000  0.0635 2025-12-19
101  3017   奇鋐  2136000  0.0652 2025-12-22
151  3017   奇鋐  2136000  0.0663 2025-12-23
202  3017   奇鋐  2136000  0.0658 2025-12-24

     股票代號 股票名稱       股數    持股權重       Date
5    2368  金像電  3988000  0.0505 2025-12-18
55   2368  金像電  4131000  0.0528 2025-12-19
105  2368  金像電  4237000  0.0570 2025-12-22
155  2368  金像電  4237000  0.0567 2025-12-23
204  2368  金像電  4237000  0.0581 2025-12-24

     股票代號   股票名稱       股數    持股權重       Date
6    3665  貿聯-KY  1532848  0.0474 2025-12-18
58   3665  貿聯-KY  1532848  0.0464 2025-12-19
107  3665  貿聯-KY  1532848  0.0468 2025-12-22
157  3665  貿聯-KY  1532848  0.0460 2025-12-23
207  3665  貿聯-KY  1532848  0.0488 2025-12-24

     股票代號 股票名稱       股數    持股權重       Date
7    2308  台達電  2457000  0.0471 2025-12-18
57   2308  台達電  2457000  0.0471 2025-12-19
106  2308  台達電  2532000  0.0500 2025-12-22
156  2308  台達電  2532000  0.0491 2025-12-23
206  2308  台達電  2532000  0.0496 2025-12-24

     股票代號 股票名稱      股數    持股權重       Date
8    6223   旺矽  902000  0.0428 2025-12-18
56   6223   旺矽  978000  0.0474 2025-12-19
108  6223   旺矽  978000  0.0457 2025-12-22
158  6223   旺矽  978000  0.0451 2025-12-23
209  6223   旺矽  999000  0.0473 2025-12-24

     股票代號 股票名稱      股數    持股權重       Date
9    3653   健策  647000  0.0369 2025-12-18
60   3653   健策  647000  0.0358 2025-12-19
110  3653   健策  647000  0.0354 2025-12-22
160  3653   健策  647000  0.0361 2025-12-23
210  3653   健策  647000  0.0365 2025-12-24

     股票代號 股票名稱       股數    持股權重       Date
10   6274   台燿  4034000  0.0358 2025-12-18
59   6274   台燿  4255000  0.0382 2025-12-19
109  6274   台燿  4557000  0.0428 2025-12-22
159  6274   台燿  4557000  0.0436 2025-12-23
208  6274   台燿  4737000  0.0484 2025-12-24

     股票代號 股票名稱       股數    持股權重       Date
11   2454  聯發科  1168000  0.0357 2025-12-18
61   2454  聯發科  1168000  0.0346 2025-12-19
112  2454  聯發科  1168000  0.0339 2025-12-22
162  2454  聯發科  1168000  0.0334 2025-12-23
212  2454  聯發科  1168000  0.0331 2025-12-24

     股票代號 股票名稱       股數    持股權重       Date
12   2317   鴻海  7032000  0.0326 2025-12-18
62   2317   鴻海  7423000  0.0346 2025-12-19
111  2317   鴻海  7423000  0.0344 2025-12-22
161  2317   鴻海  7423000  0.0342 2025-12-23
211  2317   鴻海  7423000  0.0341 2025-12-24

     股票代號 股票名稱      股數    持股權重       Date
13   6805  富世達  865000  0.0270 2025-12-18
63   6805  富世達  919000  0.0299 2025-12-19
113  6805  富世達  919000  0.0294 2025-12-22
163  6805  富世達  919000  0.0302 2025-12-23
213  6805  富世達  919000  0.0299 2025-12-24

     股票代號 股票名稱       股數    持股權重       Date
14   8210   勤誠  1303000  0.0248 2025-12-18
64   8210   勤誠  1403000  0.0278 2025-12-19
114  8210   勤誠  1403000  0.0274 2025-12-22
164  8210   勤誠  1403000  0.0275 2025-12-23
214  8210   勤誠  1403000  0.0278 2025-12-24

     股票代號 股票名稱       股數    持股權重       Date
15   6139   亞翔  1604000  0.0201 2025-12-18
67   6139   亞翔  1604000  0.0204 2025-12-19
123  6139   亞翔   747000  0.0088 2025-12-22
173  6139   亞翔   747000  0.0089 2025-12-23
245  6139   亞翔     1000  0.0000 2025-12-24

     股票代號   股票名稱      股數    持股權重       Date
16   3661  世芯-KY  284000  0.0194 2025-12-18
65   3661  世芯-KY  333000  0.0225 2025-12-19
116  3661  世芯-KY  333000  0.0222 2025-12-22
166  3661  世芯-KY  333000  0.0220 2025-12-23
216  3661  世芯-KY  333000  0.0217 2025-12-24

     股票代號  股票名稱       股數    持股權重       Date
17   2449  京元電子  4024000  0.0180 2025-12-18
69   2449  京元電子  4024000  0.0182 2025-12-19
118  2449  京元電子  4024000  0.0184 2025-12-22
168  2449  京元電子  4024000  0.0182 2025-12-23
218  2449  京元電子  4024000  0.0181 2025-12-24

     股票代號 股票名稱      股數    持股權重       Date
18   5274   信驊  125000  0.0178 2025-12-18
68   5274   信驊  134000  0.0185 2025-12-19
117  5274   信驊  134000  0.0189 2025-12-22
167  5274   信驊  134000  0.0189 2025-12-23
217  5274   信驊  134000  0.0188 2025-12-24

     股票代號 股票名稱      股數    持股權重       Date
19   2059   川湖  202000  0.0153 2025-12-18
70   2059   川湖  232000  0.0179 2025-12-19
119  2059   川湖  232000  0.0179 2025-12-22
169  2059   川湖  232000  0.0178 2025-12-23
219  2059   川湖  232000  0.0177 2025-12-24

     股票代號 股票名稱      股數    持股權重       Date
20   8299   群聯  582000  0.0135 2025-12-18
66   8299   群聯  882000  0.0206 2025-12-19
115  8299   群聯  965000  0.0235 2025-12-22
165  8299   群聯  965000  0.0233 2025-12-23
215  8299   群聯  965000  0.0256 2025-12-24

     股票代號 股票名稱      股數    持股權重       Date
21   2404   漢唐  551000  0.0113 2025-12-18
71   2404   漢唐  551000  0.0114 2025-12-19
120  2404   漢唐  655000  0.0126 2025-12-22
170  2404   漢唐  786000  0.0154 2025-12-23
220  2404   漢唐  786000  0.0149 2025-12-24

     股票代號 股票名稱       股數    持股權重       Date
22   3231   緯創  3101000  0.0093 2025-12-18
72   3231   緯創  3101000  0.0094 2025-12-19
121  3231   緯創  3101000  0.0094 2025-12-22
172  3231   緯創  3101000  0.0092 2025-12-23
230  3231   緯創  1550000  0.0046 2025-12-24

     股票代號 股票名稱       股數    持股權重       Date
23   8358   金居  1668000  0.0087 2025-12-18
75   8358   金居  1668000  0.0086 2025-12-19
125  8358   金居  1668000  0.0086 2025-12-22
175  8358   金居  1668000  0.0086 2025-12-23
222  8358   金居  1668000  0.0089 2025-12-24

     股票代號  股票名稱       股數    持股權重       Date
24   3715  定穎投控  3510000  0.0085 2025-12-18
73   3715  定穎投控  3554960  0.0089 2025-12-19
124  3715  定穎投控  3554960  0.0088 2025-12-22
174  3715  定穎投控  3554960  0.0089 2025-12-23
223  3715  定穎投控  3554960  0.0087 2025-12-24

     股票代號 股票名稱      股數    持股權重       Date
25   5536  聖暉*  512000  0.0084 2025-12-18
76   5536  聖暉*  512000  0.0085 2025-12-19
126  5536  聖暉*  512000  0.0081 2025-12-22
176  5536  聖暉*  512000  0.0080 2025-12-23
224  5536  聖暉*  512000  0.0079 2025-12-24

     股票代號 股票名稱       股數    持股權重       Date
26   2313   華通  3910000  0.0077 2025-12-18
74   2313   華通  4685000  0.0087 2025-12-19
122  2313   華通  4685000  0.0094 2025-12-22
171  2313   華通  4685000  0.0098 2025-12-23
221  2313   華通  4685000  0.0095 2025-12-24

     股票代號   股票名稱       股數    持股權重       Date
27   3711  日月光投控  1592000  0.0076 2025-12-18
77   3711  日月光投控  1592000  0.0077 2025-12-19
128  3711  日月光投控  1592000  0.0076 2025-12-22
177  3711  日月光投控  1592000  0.0077 2025-12-23
236  3711  日月光投控   318000  0.0015 2025-12-24

     股票代號 股票名稱       股數    持股權重       Date
28   6191  精成科  3088000  0.0076 2025-12-18
78   6191  精成科  3088000  0.0075 2025-12-19
127  6191  精成科  3088000  0.0076 2025-12-22
178  6191  精成科  3088000  0.0075 2025-12-23
225  6191  精成科  3088000  0.0074 2025-12-24

     股票代號 股票名稱      股數    持股權重       Date
29   3533   嘉澤  252000  0.0070 2025-12-18
79   3533   嘉澤  252000  0.0069 2025-12-19
129  3533   嘉澤  252000  0.0069 2025-12-22
179  3533   嘉澤  252000  0.0067 2025-12-23
226  3533   嘉澤  252000  0.0068 2025-12-24

     股票代號 股票名稱       股數    持股權重       Date
30   5347   世界  2793000  0.0058 2025-12-18
81   5347   世界  2793000  0.0057 2025-12-19
131  5347   世界  2793000  0.0056 2025-12-22
180  5347   世界  2793000  0.0057 2025-12-23
227  5347   世界  2793000  0.0057 2025-12-24

     股票代號 股票名稱       股數    持股權重       Date
31   3515   華擎  1004000  0.0054 2025-12-18
82   3515   華擎  1004000  0.0053 2025-12-19
132  3515   華擎  1004000  0.0052 2025-12-22
182  3515   華擎  1004000  0.0052 2025-12-23
231  3515   華擎   854000  0.0043 2025-12-24

     股票代號   股票名稱       股數    持股權重       Date
32   4958  臻鼎-KY  1738000  0.0052 2025-12-18
83   4958  臻鼎-KY  1738000  0.0051 2025-12-19
133  4958  臻鼎-KY  1738000  0.0052 2025-12-22
183  4958  臻鼎-KY  1738000  0.0051 2025-12-23
229  4958  臻鼎-KY  1738000  0.0052 2025-12-24

     股票代號 股票名稱       股數    持股權重       Date
33   2354   鴻準  3809000  0.0050 2025-12-18
84   2354   鴻準  3809000  0.0049 2025-12-19
134  2354   鴻準  3809000  0.0049 2025-12-22
184  2354   鴻準  3809000  0.0048 2025-12-23
232  2354   鴻準  3209000  0.0040 2025-12-24

     股票代號 股票名稱      股數    持股權重       Date
34   3211   順達  555000  0.0038 2025-12-18
85   3211   順達  555000  0.0039 2025-12-19
135  3211   順達  555000  0.0039 2025-12-22
185  3211   順達  555000  0.0038 2025-12-23
233  3211   順達  555000  0.0037 2025-12-24

     股票代號 股票名稱       股數    持股權重       Date
35   1319   東陽  1574000  0.0032 2025-12-18
86   1319   東陽  1574000  0.0031 2025-12-19
136  1319   東陽  1574000  0.0031 2025-12-22
186  1319   東陽  1574000  0.0031 2025-12-23
234  1319   東陽  1574000  0.0031 2025-12-24

     股票代號 股票名稱     股數    持股權重       Date
36   6515   穎崴  48000  0.0026 2025-12-18
87   6515   穎崴  48000  0.0027 2025-12-19
137  6515   穎崴  48000  0.0026 2025-12-22
187  6515   穎崴  48000  0.0026 2025-12-23
235  6515   穎崴  48000  0.0026 2025-12-24

     股票代號 股票名稱      股數    持股權重       Date
37   3081   聯亞  102000  0.0013 2025-12-18
88   3081   聯亞  102000  0.0013 2025-12-19
146  3081   聯亞    1000  0.0000 2025-12-22
196  3081   聯亞    1000  0.0000 2025-12-23
246  3081   聯亞    1000  0.0000 2025-12-24

     股票代號 股票名稱      股數    持股權重       Date
38   3217   優群  306000  0.0011 2025-12-18
89   3217   優群  306000  0.0010 2025-12-19
138  3217   優群  306000  0.0010 2025-12-22
188  3217   優群  306000  0.0010 2025-12-23
237  3217   優群  306000  0.0010 2025-12-24

     股票代號 股票名稱      股數    持股權重       Date
39   3044   健鼎  143000  0.0009 2025-12-18
90   3044   健鼎  143000  0.0009 2025-12-19
139  3044   健鼎  143000  0.0009 2025-12-22
189  3044   健鼎  143000  0.0009 2025-12-23
238  3044   健鼎  143000  0.0009 2025-12-24

     股票代號 股票名稱    股數    持股權重       Date
40   6510   精測  2000  0.0001 2025-12-18
91   6510   精測  2000  0.0001 2025-12-19
140  6510   精測  2000  0.0001 2025-12-22
190  6510   精測  2000  0.0001 2025-12-23
239  6510   精測  2000  0.0001 2025-12-24

     股票代號 股票名稱       股數    持股權重       Date
41   1303   南亞     1000  0.0000 2025-12-18
80   1303   南亞  4519000  0.0057 2025-12-19
130  1303   南亞  4519000  0.0057 2025-12-22
181  1303   南亞  4519000  0.0055 2025-12-23
228  1303   南亞  4519000  0.0054 2025-12-24

     股票代號 股票名稱    股數  持股權重       Date
42   2327  國巨*  1000   0.0 2025-12-18
97   2327  國巨*  1000   0.0 2025-12-19
147  2327  國巨*  1000   0.0 2025-12-22
197  2327  國巨*  1000   0.0 2025-12-23
247  2327  國巨*  1000   0.0 2025-12-24

     股票代號 股票名稱    股數  持股權重       Date
43   2357   華碩  1000   0.0 2025-12-18
92   2357   華碩  1000   0.0 2025-12-19
141  2357   華碩  1000   0.0 2025-12-22
191  2357   華碩  1000   0.0 2025-12-23
240  2357   華碩  1000   0.0 2025-12-24

     股票代號 股票名稱    股數  持股權重       Date
44   2439   美律  1000   0.0 2025-12-18
94   2439   美律  1000   0.0 2025-12-19
143  2439   美律  1000   0.0 2025-12-22
193  2439   美律  1000   0.0 2025-12-23
242  2439   美律  1000   0.0 2025-12-24

     股票代號 股票名稱    股數  持股權重       Date
45   2884  玉山金  1010   0.0 2025-12-18
98   2884  玉山金  1010   0.0 2025-12-19
148  2884  玉山金  1010   0.0 2025-12-22
198  2884  玉山金  1010   0.0 2025-12-23
248  2884  玉山金  1010   0.0 2025-12-24

     股票代號 股票名稱    股數  持股權重       Date
46   3008  大立光  1000   0.0 2025-12-18
95   3008  大立光  1000   0.0 2025-12-19
144  3008  大立光  1000   0.0 2025-12-22
194  3008  大立光  1000   0.0 2025-12-23
243  3008  大立光  1000   0.0 2025-12-24

     股票代號 股票名稱    股數  持股權重       Date
47   3045  台灣大  1000   0.0 2025-12-18
96   3045  台灣大  1000   0.0 2025-12-19
145  3045  台灣大  1000   0.0 2025-12-22
195  3045  台灣大  1000   0.0 2025-12-23
244  3045  台灣大  1000   0.0 2025-12-24

     股票代號 股票名稱    股數  持股權重       Date
48   3583   辛耘  1000   0.0 2025-12-18
99   3583   辛耘  1000   0.0 2025-12-19
149  3583   辛耘  1000   0.0 2025-12-22
199  3583   辛耘  1000   0.0 2025-12-23
249  3583   辛耘  1000   0.0 2025-12-24

     股票代號 股票名稱    股數  持股權重       Date
49   8996   高力  1000   0.0 2025-12-18
93   8996   高力  1000   0.0 2025-12-19
142  8996   高力  1000   0.0 2025-12-22
192  8996   高力  1000   0.0 2025-12-23
241  8996   高力  1000   0.0 2025-12-24

In [ ]:
DFSSSSsdsssssss